/*
	Styling for different types of rooms
*/

html, body {
	height: 100%; 
	width: 100%; 
	overflow: none; 
}

.student, .common {
	position: fixed; 
	border-top: 1px solid black; 
	border-bottom: 1px solid black; 
	border-left: 1px solid black; 
	border-right: 1px solid black;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: transparent;
}

.cor {
	position: fixed; 
	border-top: 1px solid black; 
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: transparent;
}

.main_kitchen{
	position: fixed; 
	border-bottom: 1px solid black; 
	border-left: 1px solid black; 
	border-right: 1px solid black;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: transparent;
}

.stairs {
	position: fixed; 
	border-bottom: 1px solid black; 
	border-left: 1px solid black; 
	border-right: 1px solid black;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: transparent;
}

.kitchen, .servery {
	position: fixed; 
	border-top: 1px solid black; 
	border-bottom: 1px solid black; 
	border-left: 1px solid black; 
	border-right: 1px solid black;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: transparent;
}

.admin {
	position: fixed; 
	border-top: 1px solid black; 
	border-bottom: 1px solid black; 
	border-left: 1px solid black; 
	border-right: 1px solid black;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: transparent;
}

.toilet {
	position: fixed; 
	border-top: 1px solid black;  
	border-left: 1px solid black; 
	border-right: 1px solid black;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: transparent;
}

.box {
	overflow: hidden;
}

/*
	Not Found Message
*/
.notfound {
	color: red;
	width: 100%;
	font-size: 300%;
	font-weight: bold;
	width:500px;
	margin:0px auto;
	top: 100px; 
	position: relative;
}

.label{
	position: fixed; 
	border-top: 1px solid black; 
	border-bottom: 1px solid black; 
	border-left: 1px solid black; 
	border-right: 1px solid black;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: red;
}

/* bar */
.container.bar{
	top:0px; 
	left:0px; 
	right:0px;
	height:50px; 
}

.dropdown.wide > a.dropdown-toggle, 
.dropdown.wide > ul.dropdown-menu > li {
	min-width: 125px; 
}

.dropdown.main > a.dropdown-toggle, 
.dropdown.main > ul.dropdown-menu > li {
	min-width: 150px; 
}

.modal.large {
    width: 80%; /* respsonsive width */
    margin-left:-40%; /* width/2) */
}
#photo{
	max-width: 180px;
	max-height: 250px;
}


/* 
	Color Schemes
*/

/*
	==DEFAULT==
*/

/*
	Inactive colors for primary rooms
	Dark gray by default
*/

.student, 
.common, 
.kitchen, 
.servery, 
.admin {
	background-color: #5A5A5A;
}

/*
	Active colors for primary rooms
	Black / White by default
*/

.active.student, .student:hover, 
.active.common, .common:hover, 
.active.kitchen, .kitchen:hover, 
.active.servery, .servery:hover, 
.active.admin, .admin:hover
{
	background-color: black;
	color: white;
}

/*
	Inactive colors for secondary rooms
	Light gray by default
*/
.stairs, 
.toilet, 
.main_kitchen, 
.cor {
	background-color: #B3B3B3;
}

/*
	==NORDMETALL== 
*/

.nordmetall.active.student, .nordmetall.student:hover
{
	background-color: yellow;
	color: purple;
}

.nordmetall.active.common, .nordmetall.common:hover, 
.nordmetall.active.kitchen, .nordmetall.kitchen:hover, 
.nordmetall.active.servery, .nordmetall.servery:hover, 
.nordmetall.active.admin, .nordmetall.admin:hover
{
	background-color: purple;
	color: yellow;
}

/*
	==C3==
*/
.c3.active.student, .c3.student:hover
{
	background-color: #007A00;
	color: white;
}

.c3.active.common, .c3.common:hover, 
.c3.active.kitchen, .c3.kitchen:hover, 
.c3.active.servery, .c3.servery:hover, 
.c3.active.admin, .c3.admin:hover
{
	background-color: #66FF66;
	color: #007A00;
}

/*
	==KRUPP==
*/
.krupp.active.student, .krupp.student:hover
{
	background-color: red;
	color: black;
}
.krupp.active.common, .krupp.common:hover, 
.krupp.active.kitchen, .krupp.kitchen:hover, 
.krupp.active.servery, .krupp.servery:hover, 
.krupp.active.admin, .krupp.admin:hover
{
	background-color: black;
	color: red;
}

/*
	==MERCATOR==
*/
.mercator.active.student, .mercator.student:hover
{
	background-color: blue;
	color: white;
}
.mercator.active.common, .mercator.common:hover, 
.mercator.active.kitchen, .mercator.kitchen:hover, 
.mercator.active.servery, .mercator.servery:hover, 
.mercator.active.admin, .mercator.admin:hover
{
	background-color: #99C2FF;
	color: blue;
}