<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Even better jPeople WITH a MAP</title>

        <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Sorry, </h1>
                  <p>but you can not use this application on &quot;file://&quot; URLs. Please run this on a webserver or </p>
                  <p><a class="btn btn-primary btn-lg" role="button" href="http://w1536.tk/CollegeMap">View online demo</a></p>
            </div>
          
        </div>
        <script src="../../libs/jquery/jquery.js"></script>
        <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>