<!DOCTYPE html>
<html lang="en">
	<head>
		<title>jMap - Bridge Component</title>
		
		<script src="../../libs/jquery/jquery.js"></script>
		<script src="../../js/util.js"></script>

		<!-- Bridge init -->
		<script src="js/init.js"></script>
		<script src="js/frames.js"></script>

		<!-- Map Data -->
		<script src="js/data/MapData.js"></script>
		<script src="js/data/Building.js"></script>
		<script src="js/data/Block.js"></script>
		<script src="js/data/Floor.js"></script>
		<script src="js/data/Room.js"></script>

		<script src="js/data/loader.js"></script>
		<script src="../../data/index.js"></script>

		<script src="js/data/bridge.js"></script>

		<!-- jPeople Data -->
		<script src="js/jpeople/jpeople.js"></script>
		<script src="js/jpeople/bridge.js"></script>

		<!-- Everything else -->
		
		<script src="js/eggs.js"></script>
		

	</head>
	<body>
		You should not see this!
		<!-- But if you do, congrats! -->
	</body>
</html>