<!DOCTYPE html>
<html lang="en">
	<head>
	  	<title> Testing Maps </title>
	    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	    <style type="text/css">
	    	html { height: 100% }
	      	body { height: 100%; margin: 0; padding: 0 }
	      	#map-canvas { height: 100% }
	    </style>
	    
	    
	    <script type="text/javascript">
	    	   	
	      	$(document).ready(function(){

				$(document).on('click', $("#k"), function() {
					window.parent.bridge(function(b, me){
  				  		b.renderMapObj(me.RenderData.selectByMName("krupp"));
    				}); 
			  	});

			  	$(document).on('click', $("#m"), function() {
					window.parent.bridge(function(b, me){
  				  		b.renderMapObj(me.RenderData.selectByMName("mercator")); 
    				}); 
			  	});

				$(document).on('click', $("#c"), function() {
					window.parent.bridge(function(b, me){
  				  		b.renderMapObj(me.RenderData.selectByMName("c3"));
    				}); 
			  	});		  				

				$(document).on('click', $("#n"), function() {
					window.parent.bridge(function(b, me){
  				  		b.renderMapObj(me.RenderData.selectByMName("nordmetall"));
    				}); 
			  	});		  	
	    	}

		</script>
		<link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../../css/renderer.css">
	</head>
	<body>
		<script src="../../libs/jquery/jquery.js"></script>
		<script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../js/util.js"></script>
		<script src="../../js/remote.js"></script>
		<script src="../../js/navbar.js"></script>
		<h3> Please choose which college you would like to explore by clicking on the appropriate marker </h3>
		<br>
		<h2 id="k"> Krupp </h2>
		<h2 id="m"> Mercator </h2>
		<h2 id="c"> C3 </h2>
		<h2 id="n"> Nordmetall </h2>
	</body>
</html>
