<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CollegeMap - START</title>

		<link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../../css/renderer.css">
	</head>
	<body>
		<script src="../../libs/jquery/jquery.js"></script>
		<script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../js/util.js"></script>
		<script src="../../js/remote.js"></script>
		<script src="../../js/navbar.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>