<!DOCTYPE html>
<html lang="en">
	<head>
		<title>jMap - CONFIG</title>

		<link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../../libs/bootstrap-switch/css/bootstrap-switch.css">
		<link rel="stylesheet" href="../../css/renderer.css">
	</head>
	<body>

		<div class="container">
			<h1>Config</h1>
			Enable all this at your own risk. You might have to search again for this to work. 

			<br />
			<br />
			Force to use original images: 
			<div class="make-switch" id="force-imgs">
			    <input type="checkbox">
			</div>
			<br />
			Disable eastereggs: 
			<div class="make-switch" id="cook-eggs">
			    <input type="checkbox">
			</div>
			&nbsp; 
			<button class="btn btn-danger" id="eggs">Stop all now</button>
			

		</div>
		<script src="../../libs/jquery/jquery.js"></script>
		<script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../libs/bootstrap-switch/js/bootstrap-switch.js"></script>
		<script src="../../libs/jquery.nicescroll/jquery.nicescroll.min.js"></script>
		<script src="../../js/util.js"></script>
		<script src="../../js/remote.js"></script>
		<script src="../../js/navbar.js"></script>
		<script src="js/gui.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>