<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CollegeMap - MAP RENDERER</title>

		<link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../../css/renderer.css">
	</head>
	<body style="overflow: hidden; ">
		<div class="container bar">
			<ul class="nav nav-tabs">
				<li class="dropdown wide" id="buildings">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" style="width: 100px; "><span id="buildingstitle">Loading Buildings ...</span><span class="caret"></span></a>
				</li>
				<li class="dropdown wide" id="floors">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" style="width: 100px; "><span id="floorstitle">Loading Floors ...</span><span class="caret"></span></a>
				</li>
			</ul>
		</div>

		<script src="../../libs/jquery/jquery.js"></script>
		<script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../js/util.js"></script>
		<script src="../../js/remote.js"></script>
		<script src="js/renderer.js"></script>
		<script src="js/stats.js"></script>
		<script src="js/gui.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>