<!DOCTYPE html>
<html lang="en">
	<head>
		<title>jMap - NAV</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Include Bootstrap CSS -->
		<link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../../css/nav.css">
	</head>
	<body>

		<div class="container bar">
				<form class="navbar-form navbar-left" id="searchform" role="search">
					<input type="search" class="form-control" id="peoplesearch" placeholder="Search jPeople" autocomplete="off">
				</form>
		</div>

		<div class="container results">
			<div class="list-group" id="results">
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Loading</h4>
					<p class="list-group-item-text">Page is loading ... Please enable JavaScript. </p>
				</a>
			</div>
			<div class="list-group" id="copy">
				<div class="list-group-item hidden" id="copynotice">
					<h3 class="list-group-item-heading pull-right">About</h4>
					<p class="list-group-item-text">
						A better jPeople with a map <br />
						&copy; 2013 Tom Wiesing and Sourabh Lal, licensed under <a href="../../LICENSE" target="_blank">MIT license</a><br />
						For more information, see &quot;About&quot; 
					</p>
				</div>
			</div>
			
		</div>

		

		<script src="../../libs/jquery/jquery.js"></script>
		<script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../js/util.js"></script>
		<script src="js/gui.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>